:root {
    background: rgba(71, 129, 129, 0.219);
    }



.container {
    min-width: 300px;
    border: 1px solid black;
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    line-height: 25px;
    font-size: 20px;
    @media (max-width: 700px) {
        margin-left: 5px;
    }
}


nav {
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    min-width: 290px;
    padding: 10px;
    position: fixed;
    border: 1px solid black;
    header {
        margin: 20px auto 20px auto;
        font-size: 40px;
        text-align: center;
        font-weight: bolder;
    }
    a {
        display: block;
        font-size: 30px;
        padding: 20px;
        text-align: left;
        border: 1px solid rgba(0, 0, 0, 0.219);
    }
    @media (max-width: 700px) {
        position: absolute;
        display: none;
    }
}


.main-section {
    ul li:before {
        content:'✓' ;
    }
    header {
        margin: 20px auto 20px auto;
        font-size: 40px;
        text-align: center;
        font-weight: bolder;
    }
    code {
        display: block;
        padding: 10px 10% 10px 10%;
    }
}